# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/log2.csv

# Python
__pycache__/
*.py[cod]
.venv/

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
!.env.sample
frontend/amplify/team-provider-info.json
frontend/src/amplifyconfiguration.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/private

# Ignore Illustrator files
*.ai
*.ai~